/* @author    Guillaume Rand - Gui
* @copyright Guillaume Rand 2019
* @license   Guilaume Rand - Tous droits réservés */


@import url('https://fonts.googleapis.com/css?family=Cookie|Kaushan+Script&display=swap');
body{
  margin: 0;
 background:#101010; 
 overflow:hidden; 
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-size: 25px;
  color: #ffbb99;
  text-shadow: 0px 2px 2px crimson;
  font-family: 'Cookie', sans-serif;
}

.loader{
  position: absolute;
  width:300px;
  height:300px;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
}

span{
  width:calc(100% - 9px);
  height:calc(100% - 9px);
  border-radius:50%;
  position:absolute;
  border-top:5px solid #09f;
  animation:rotate 2s ease-in-out infinite;
  animation-direction: alternate;
}

.loading{
  position: absolute;
  width: 100%;
  color: #ffbb99;
  text-align: center;
  font-family: 'Kaushan Script',sans-serif;
  font-size: 30px;
  letter-spacing: 4px;
  bottom: 0;
  text-shadow: 0px 2px 2px crimson;
  margin: 0 0 -50px 0;
}

@keyframes rotate{
  0%{
	width:calc(100% - 19px); 
  }
  100%{
	width:calc(100% - 19px);
	transform:rotate(360deg);
  }
}
